# Sanity CMS
SANITY_TOKEN=your-sanity-api-token
SANITY_DATASET=production

# PostHog analytics
ENABLE_POSTHOG=false
POSTHOG_PROJECT_API_KEY=

# Fienta booking
# FIENTA_API_KEY=
FIENTA_INCLUDE_DRAFTS=false
